/* ---------- HEADER STYLES ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 0px 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.search-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
}

.icons {
    display: flex;
    gap: 20px;
}

.navicons {
    width: 20px;
}
